
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300;1,400&family=Dancing+Script:wght@400;600;700&family=Playball&display=swap");
:root {
  --var: 0 2px 2px rgb(0 0 0 / 0.5);
}
.font-dancing {
  font-family: "Dancing Script", cursive;
}

.font-playball {
  font-family: "Playball", cursive;
}

* {
  font-family: "Open Sans", cursive;
}

.salam-penutup {
  font-size: 1.5rem; /* ganti sesuai keinginan */
  font-weight: 400; /* optional */
  text-align: center; /* optional */
}
.mempelai {
  color: #1d3557;
}

h6 {
  font-size: 2.5rem;
  color: #f1faee;
}

h5 {
  font-size: 4rem;
}

.bg-berem {
  background-color: #1d3557;
}



.text-berem {
  color: #1d3557;
  text-shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

.bg-wakwak {
  background-color: #f1faee;
}

.bg-wakwak p,
.bg-wakwak h4,
.bg-wakwak h2,
.bg-wakwak h5,
.bg-wakwak h1,
.bg-wakwak h3 {
  text-shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

.bg-wakwak h3 {
  font-size: 1rem;
  text-shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

.bg-wakwak h6 {
  font-size: 3rem;
  text-shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

.text-wakwak {
  background-color: #1d3557;
}

.bg-fee {
  background-color: #f1faee;
}

.bg-kulit {
  background-color: #1d3557;
}

.fs-60 {
  font-size: 60px;
  text-shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

.fs-45 {
  font-size: 45px;
  text-shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

.fs-40 {
  font-size: 40px;
  text-shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

.scale {
  overflow: hidden;
  transition: 0.5s;
}
.scale:hover {
  transform: scale(1.05);
}

.norek {
  cursor: pointer;
  border: none;
  outline: none;
}

/* Hanya teks utama undangan di front-text */
#front-text h5,
#front-text p small,
#front-text span.mb-1,
#front-text p.mb-2.mt-2,
#front-text p.mb-2 {
  color: #ffffff !important;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}


@media (max-width: 574px) {
  html {
    font-size: 70%;
  }
  #front-image {
    display: none;
  }
  #front-text {
    padding-top: 40%;
    height: 100vh;
    background-image: url(../img/WhatsApp Image 2025-11-05 at 23.54.20_03b2365c.jpg); background-size: cover;
    background-position: center;
    
  }
}

#front-image img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-position: center;
}
